* {
  outline: none; }

#exitBtn {
  background: transparent;
  border: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

header {
  position: relative;
  border-bottom: black 1px solid;
  background-color: black;
  -webkit-box-shadow: 0 0 5px 0 black;
  -moz-box-shadow: 0 0 5px 0 black;
  box-shadow: 0 0 5px 0 black; }
  header .header-item {
    display: inline-block; }
  header .header-logo {
    float: left; }
    header .header-logo a {
      color: white;
      font-size: 2.5em;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      header .header-logo a:hover {
        color: #d41000;
        text-decoration: none; }
  header .header-btns {
    float: right;
    position: relative; }
    header .header-btns .open .btn-primary {
      color: #d41000 !important;
      background-color: transparent !important;
      border-color: transparent !important; }
    header .header-btns .header-user-btn {
      margin-top: 5px;
      font-size: 1.5em;
      color: white;
      background: transparent;
      border: none;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }
      header .header-btns .header-user-btn:hover {
        color: #d41000; }
      header .header-btns .header-user-btn:active {
        color: #d41000;
        outline: none; }
    header .header-btns .dropdown-menu {
      right: 0;
      left: initial;
      background-color: #c594bb; }
      header .header-btns .dropdown-menu li {
        -webkit-transition: 1s ease;
        -moz-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease; }
        header .header-btns .dropdown-menu li:hover {
          background-color: #c594bb; }
      header .header-btns .dropdown-menu a {
        color: white; }
        header .header-btns .dropdown-menu a i {
          margin-right: 3px; }
        header .header-btns .dropdown-menu a:hover {
          color: black; }
    header .header-btns .header-user-menu {
      position: absolute;
      background-color: white;
      top: 0;
      width: 0;
      height: 100%;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }

footer {
  position: relative;
  border-top: black 1px solid;
  background-color: black;
  -webkit-box-shadow: 0 0 5px 0 black;
  -moz-box-shadow: 0 0 5px 0 black;
  box-shadow: 0 0 5px 0 black; }
  footer p {
    color: white;
    font-size: 1.2em;
    margin-top: 9px; }

.main .row {
  padding: 0;
  margin: 0; }

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 14px;
  font-weight: 200;
  background-color: #2e353d;
  top: 0;
  width: 300px;
  height: 100%;
  color: #e1ffff; }

.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 16px; }

.nav-side-menu .toggle-btn {
  display: none; }

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/ }

.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right; }

.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69; }

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d; }

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d; }

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0; }

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203; }

.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle; }

.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e; }

.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
  display: block;
  width: 100%;
  height: 100%; }

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px; }

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease; }

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px; }

  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center; }

  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important; } }
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block; } }
body {
  margin: 0;
  padding: 0; }

.main-content {
  padding-left: 0; }
  .main-content .row {
    padding-left: 0; }
  .main-content .col-md-3 {
    padding-left: 0; }

/*# sourceMappingURL=app.css.map */
