@import "templates/main";

.book-block {
  margin: 25px 5px;
  position: relative;
  width: 100%;
  height: 350px;
  border: 1px solid black;
  @include border-radius(3px);

  .img {
    padding: 10px;
    position: relative;
    text-align: center;
    img {
      width: 50%;
    }
  }

  .book-data {
    padding-left: 15px;
  }

  .book-link {
    text-align: right;
    margin: 10px;
  }
}

#custom-search-input {
  margin-top: 30px;
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .fa-search {
  font-size: 23px;
}

