@import "templates/main";

.user-block {
  position: relative;
  margin: 5px;
  border: 1px solid black;
  @include border-radius(3px);
  .img {
    padding: 10px;
    position: relative;

    img {
      width: 100%;
    }
  }

  .user-data {
    text-align: center;
  }

  .user-link {
    text-align: right;
    padding-right:5px;
  }
}