@import "templates/main";

.img {
  position: relative;
  padding: 10px;

  img {
    width: 100%;
  }
}

.user-data {
  padding-top: 50px;
  padding-left: 15px;

  .emails {

    padding-left: 25px;
  }
}

.btn {
  margin-top: 15px;
}