@import "templates/auth";

.buttons_divider {
  margin-top: 10%;
  margin-bottom: 10%;
  border-bottom: solid #ccc 1px;
}

.sign_up_title {
  text-align: center;
  margin-bottom: 5%;
}

.sign_in_but {
  border-radius: 45%;
  margin-left: 5px
}

.sign_up_form {
  margin-bottom: 30%;
}

.sign_up_form input {
  border-radius: 0px;
}

.bg-lightgray {
  background-color: LightGray;
}

p {
  text-align: center;
}

.main-container {
  background-image: url('/img/request-password.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 60px;
}

.sign_up_form {
  color: white;
}