@import "templates/main";

.book-block {
  margin: 25px 5px;
  position: relative;
  width: 100%;
  height: 350px;
  border: 1px solid black;
  @include border-radius(3px);

  .img {
    padding: 10px;
    position: relative;
    text-align: center;
    img {
      width: 50%;
    }
  }

  .book-data {
    padding-left: 15px;
  }

  .book-link {
    text-align: right;
    margin: 10px;
  }
}
