@import "templates/main";

.img {
  margin-top: 40px;
  margin-left: 20px;
  position: relative;

  img {
    width: 100%;
  }
}

.type {
  text-align: center;
}

.user-data {
  margin-top: 80px;
  margin-left: 40px;
}