@import "../modules/variables";
@import "../modules/mixins";
@import "../modules/media";

* {
  outline: none;
}

header {
  position: relative;
  border-bottom: black 1px solid;
  background-color: black;
  @include box-shadow(0, 0, 5px, 0, black);

  .header-item {
    display: inline-block;

  }

  .header-logo {
    float: left;
    a {
      color: white;
      font-size: 2.5em;
      @include transition(0.3s ease);

      &:hover {
        color: #d41000;
        text-decoration: none;
      }
    }
  }

  .header-btns {
    float: right;
    position: relative;

    .open {
      .btn-primary {
        color: #d41000 !important;
        background-color: transparent !important;
        border-color: transparent !important;
      }
    }

    .header-user-btn {
      margin-top: 5px;
      font-size: 1.5em;
      color: white;
      background: transparent;
      border: none;
      @include transition(0.3s ease);

      &:hover {
        color: #d41000;
      }

      &:active {
        color: #d41000;
        outline: none;
      }
    }

    .dropdown-menu {
      right: 0;
      left: initial;
      background-color: #c594bb;

      li {
        @include transition(1s ease);

        &:hover {
          background-color: #c594bb;
        }
      }

      a {
        color: white;
        i {
          margin-right: 3px;
        }

        &:hover {
          color: black;
        }
      }
    }

    .header-user-menu {
      position: absolute;
      background-color: white;
      top: 0;
      width: 0;
      height: 100%;
      @include transition(.3s ease);
    }
  }
}

footer {
  position: relative;
  border-top: black 1px solid;
  background-color: black;
  @include box-shadow(0, 0, 5px, 0, black);
  p {
    color: white;
    font-size: 1.2em;
    margin-top: 9px;
  }
}